	hr {
		height: 1px;
		background-color:#555;
		margin-top: 20px;
		margin-bottom: 20px;
		width: 95%;
	}
	
	footer{
		font-size: 0.8em;
	}
	
	.jumbotron{
		background-image: url('');
		font-family: 'SourceCodeProBold';
		font-size: 4em;
		vertical-align: middle;
		text-align: center;
	}
